body {
	font-family: Roboto, Arial, sans-serif;
	background-color: #ede9e0;
	color: 202020;
}
.wrapper {
	margin: 0 auto;
	width: 1024px;
}
.container {
	width: 1024px;
}
.container_header {
	background-image: url(../images/container_header_dog.png);
	background-repeat: no-repeat;
	height: 500px;
	margin-left: 36px;
	background-position: 0px -10px;
}
.logo {
	float: left;
	width: 20%;
}
.logo_img {
	margin-left: 24px;
	margin-top: 5px;
}
.menu-header {
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	text-align: center;
}
.nav {
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	display: inline-block;
}
.about_menu {
	text-decoration: none;
	color: #202020;
	font-style: normal;
}
.menu-list {
	margin: 30px 15px 40px 0px;
}
.menu-item {
	display: inline-block;
	margin-right: 15px;
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	letter-spacing: 50;
	line-height: 30px;
}
.phone {
	text-decoration: none;
	color: #510fad;
}
.slogan {
	color: #737274;
	font-family: roboto, regular, sans-serif;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
}
.promo {
	float: right;
	width: 550px;
	padding: 70px 130px;
}
.title {
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	font-size: 48px;
}
.slogan {
	border-left: 2px solid #510fad;
	padding-left: 10px;
}
.nursery {
	margin-top: 80px;
}
.about {
	background-color: #510fad;
	color: #b8adc8;
	min-height: 700px;
	position: relative;
}
.about:before {
	content: "";
	display: block;
	width: 1024px;
	height: 100px;
	position: absolute;
	left: 0;
	top: -10;
	background-image: url(../images/Wave1.png);
	background-repeat: no-repeat;
}
.about:after {
	content: "";
	display: block;
	width: 1024px;
	height: 100px;
	position: absolute;
	background-image: url(../images/container_header_wave_bottom.png);
	background-repeat: no-repeat;
	left: 0px;
	bottom: -10%;
}
.subtitle {
	text-align: center;
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
}
.white {
	margin: 200px 0px 0px 0px;
	padding-top: 150px;
	color: white;
	font-size: 36px;
}
.name {
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 50;
	line-height: 30px;
}
.subtitle_p {
	color: #b8adc8;
	float: left;
	padding: 0px 180px 0px 365px;
	line-height: 30px;
	font-family: roboto, regular, sans-serif;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
}
.dog_window_img {
	float: left;
	width: 50%;
}
.about_pets {
	text-align: left;
	text-decoration: none;
	padding: 130px 0px 40px 500px;
}
.link_dogs {
	text-decoration: none;
	font-family: roboto, italic, sans-serif;
	letter-spacing: 50;
	line-height: 30px;
}
.video {
	color: #ffec00;
	text-decoration: none;
	padding: 12px;
	letter-spacing: 50;
	line-height: 30px;
}
.video:hover {
	filter: grayscale(70%);
	transition: 0.5s;
}
.arrow {
	margin: 0 0 0 10px;
	width: 16px;
}
.arrow:hover {
	filter: grayscale(50%);
	transition: 0.5s;
}
.section_dogs {
	padding: 100px 30px;
}
.dog {
	margin-top: 20px;
	width: 940px;
	margin-left: 30px;
}
.text_about {
	color: #737274;
	line-height: 30px;
}
.block_dogs {
	width: 47%;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.dogs_round_img {
	border-radius: 50%;
	float: left;
	margin: 0 20px 0 0;
}
.look {
	text-decoration: none;
	color: #510fad;
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
}
.view {
	padding: 10px 0 0 160px;
}
.arrow_four {
	margin: 0 0 0 10px;
	width: 16px;
}
.arrow_four:hover {
	filter: grayscale(70%);
	transition: 0.5s;
}
.look:hover {
	filter: grayscale(70%);
	transition: 0.5s;
}
.section_responses {
	min-height: 600px;
}
.tatiana {
	float: left;
	width: 470px;
	margin-left: 30px;
}
.sign {
	margin-left: 50px;
}
.cite {
	color: #737274;
}
.responses_p {
	line-height: 30px;
}
.dog_and_woman {
	text-align: right;
	font-family: roboto, sans-serif;
	font-style: italic;
	color: #737274;
	letter-spacing: 50;
	line-height: 30px;
}
.dog_and_woman_img {
	width: 470px;
	margin: 80px 0 0 0px;
}
.vk {
	text-decoration: none;
}
.text_link {
	margin-right: 70px;
	letter-spacing: 50;
	line-height: 30px;
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
}
.pets {
	background-color: #510fad;
	height: 500px;
	margin: 20px;
	width: 1024px;
	position: relative;
	background-image: url(../images/container_healthy_repeat.png);
	background-repeat: repeat;
}
.container_healthy {
	font-size: 0;
	width: 1024px;
	padding: 100px 70px;
}
.container_pets {
	width: 46%;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
}
.white2 {
	color: #fff;
	font-size: 36px;
	text-align: left;
	margin-top: 20px;
}
.color_p {
	color: #b8adc8;
	font-family: roboto, regular, sans-serif;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
	margin: 0 30px 30px 0;
}
.socials_div {
	margin: 50px 0 0 0;
}
.socials {
	margin: 5px;
}
.img_social:hover {
	filter: grayscale(70%);
	transition: 0.5s;
}
.container_article {
	display: inline-block;
	width: 46%;
	font-size: 16px;
}
.link_article {
	background: white;
	width: 200px;
	display: inline-block;
	margin-right: 10px;
	height: 280px;
	vertical-align: bottom;
	text-align: right;
	border-radius: 10px;
}
.p_article {
	color: #202020;
	font-family: roboto, regular, sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 10px;
}
.reed:hover {
	filter: grayscale(70%);
	transition: 0.5s;
}
.block_article {
	background-color: #fff;
	width: 180px;
	text-align: left;
	margin: 10px;
}
.reed {
	color: #510fad;
	text-decoration: none;
	letter-spacing: 50;
	line-height: 30px;
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
}
.dog_article_img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	margin: 0 0 5px 0;
}
.section_contacts {
	margin-left: 270px;
}
.contacts-footer {
	margin-bottom: 100px;
}
.subtitle_contacts {
	text-align: left;
}
.text_down {
	font-family: roboto, regular, sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 50;
}
.contacts {
	margin: 0;
	color: #737274;
	font-family: 'fira_sans', uppercase, sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 50;
	line-height: 30px;
}
.wrap {
	display: inline-block;
	width: 47%;
	vertical-align: top;
	margin: 10px;
	line-height: 30px;
}
.email {
	color: #202020;
	text-decoration: none;
}
.footer_down {} .menu_icon {
	float: left;
}
.dropdown {
	width: 940px;
	border-top: 3px solid #737274;
	display: inline-block;
}
.menu_down {
	color: #737274;
	text-decoration: none;
}
.menu_footer_list {
	display: inline-block;
	margin-right: 10px;
	font-family: 'fira_sans', arial, sans-serif;
	font-weight: 500;
	color: #737274;
	margin: 10px 10px 10px 0;
}
.icon_down {
	margin: 20px 0;
	text-align: right;
}
.socials_link {
	margin-right: 5px;
	text-decoration: none;
}